body {
    font-family: 'Indie Flower', cursive;
    padding-top: 15px;
}

h2{
    color: #ffffff;
    text-decoration:underline
}

.btn-outline-white:hover,.btn-outline-white:not(:disabled):not(.disabled).active, .btn-outline-white:not(:disabled):not(.disabled):active, .show>.btn-outline-white.dropdown-toggle {
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-white {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff;
}

.nav-item-home:hover{
    border-top: 5px solid #410000;
    background-color: rgba(138, 0, 0, 0.15);
}
.nav-item-mangas:hover{
    border-top: 5px solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15)
}
.nav-item-games:hover{
    border-top: 5px solid #0070bb;
    background-color: rgba(000, 112, 192, 0.15)

}
.nav-item-about:hover{
    border-top: 5px solid #410000;
    background-color: rgba(138, 0, 0, 0.15)
}
navbar-nav li:hover a{
    padding: 15px 30px 20px 30px;
}


#en-tete{
    background: #333333;
}

#en-tete .nav-link {
    display: block;
    padding: 15px;
    font-size: 25px;
}

#en-tete .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

#pied-de-page {
    height: auto;
}

#pied-de-page .footer-content {
    padding-top: 7%;
    text-align: center;
}
h1{
    border: 5px solid black;
    letter-spacing: 15px;
}
